/* Links útiles:
colorhunt.co --> colores
fontawesome.com --> fuentes
via.placeholder.com --> imagenes


*/

.lista-desordenada{ /* Esto es una clase */
    color:black;
}   

h3{
    color:white;
    border: 2px solid red;
    padding: 3px;
    
}

body{color:red;}

#Te-saluda{
    color:black;
}
#Nombre-completo{
    color:black;
}
p{
    color: black;
}

.foto-body{
    width: 50%;
    height: 500px;
}

.icono-mail{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/*header{
    position: sticky;
    position: -webkit-sticky;
    top:0px;
}*/
menu{
    list-style-type: none;
}

menu > a > li{
    display:inline;
}
.row{
    background-color:yellow
}
.col{
    border: 1px solid white;
}
.navbar-nav{
    flex-direction: row !important;  
}
.navbar-nav .nav-link {
    padding-right: 10px !important;
    padding-left: 0 !important;
}
.Form-Registro{
}