/* Links útiles:
colorhunt.co


*/

.lista-desordenada{ /* Esto es una clase */
    
}
#Titulo-principal{ /* Esto es un ID */
    color:#ffff00;
}
h3{color:white;}
body{background-image:url(./images/Obelisco.jpg);}
*{color:white;}

.foto-body{
    width: 50%;
    height: 500px;
}